In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("../data/processed/billionaires_clean.csv") 
#print(df.head())
#print(df.columns.tolist())
# Lista delle colonne target candidate
#target_cols = ['category', 'industries', 'source', 'selfMade', 'gender']

# Per ogni colonna, stampa il numero di classi e le frequenze relative delle prime classi
#for col in target_cols:
#    print(f"ðŸ”Ž Colonna: {col}")
#    print(f"Numero di classi: {df[col].nunique()}")
#    print("Distribuzione (prime 10 classi):")
#    print(df[col].value_counts(normalize=True).head(10))
#    print("-" * 40)

   rank  finalWorth               category                personName   age  \
0     1      211000       Fashion & Retail  Bernard Arnault & family  74.0
1     2      180000             Automotive                 Elon Musk  51.0
2     3      114000             Technology                Jeff Bezos  59.0
3     4      107000             Technology             Larry Ellison  78.0
4     5      106000  Finance & Investments            Warren Buffett  92.0

         country    city              source             industries  \
0         France   Paris                LVMH       Fashion & Retail
1  United States  Austin       Tesla, SpaceX             Automotive
2  United States  Medina              Amazon             Technology
3  United States   Lanai              Oracle             Technology
4  United States   Omaha  Berkshire Hathaway  Finance & Investments

  countryOfCitizenship  ... cpi_change_country           gdp_country  \
0               France  ...                1.1   $2,715,518,274,227
1        United States  ...                7.5  $21,427,700,000,000
2        United States  ...                7.5  $21,427,700,000,000
3        United States  ...                7.5  $21,427,700,000,000
4        United States  ...                7.5  $21,427,700,000,000

  gross_tertiary_education_enrollment  \
0                                65.6
1                                88.2
2                                88.2
3                                88.2
4                                88.2

  gross_primary_education_enrollment_country life_expectancy_country  \
0                                      102.5                    82.5
1                                      101.8                    78.5
2                                      101.8                    78.5
3                                      101.8                    78.5
4                                      101.8                    78.5

  tax_revenue_country_country total_tax_rate_country population_country  \
0                        24.2                   60.7         67059887.0
1                         9.6                   36.6        328239523.0
2                         9.6                   36.6        328239523.0
3                         9.6                   36.6        328239523.0
4                         9.6                   36.6        328239523.0

  latitude_country longitude_country
0        46.227638          2.213749
1        37.090240        -95.712891
2        37.090240        -95.712891
3        37.090240        -95.712891
4        37.090240        -95.712891

[5 rows x 35 columns]
ðŸ”Ž Colonna: category
Numero di classi: 18
Distribuzione (prime 10 classi):
category
Finance & Investments    0.139892
Manufacturing            0.122598
Technology               0.120292
Fashion & Retail         0.100307
Food & Beverage          0.080323
Healthcare               0.076864
Real Estate              0.073405
Diversified              0.071868
Energy                   0.038432
Media & Entertainment    0.033436
Name: proportion, dtype: float64
----------------------------------------
ðŸ”Ž Colonna: industries
Numero di classi: 18
Distribuzione (prime 10 classi):
industries
Finance & Investments    0.139892
Manufacturing            0.122598
Technology               0.120292
Fashion & Retail         0.100307
Food & Beverage          0.080323
Healthcare               0.076864
Real Estate              0.073405
Diversified              0.071868
Energy                   0.038432
Media & Entertainment    0.033436
Name: proportion, dtype: float64
----------------------------------------
ðŸ”Ž Colonna: source
Numero di classi: 901
Distribuzione (prime 10 classi):
source
Real estate        0.057264
Investments        0.034973
Diversified        0.034973
Pharmaceuticals    0.032283
Software           0.024212
Hedge funds        0.015757
Private equity     0.015373
Retail             0.014604
Chemicals          0.014604
Manufacturing      0.013067
Name: proportion, dtype: float64
----------------------------------------
ðŸ”Ž Colonna: selfMade
Numero di classi: 2
Distribuzione (prime 10 classi):
selfMade
True     0.692544
False    0.307456
Name: proportion, dtype: float64
----------------------------------------
ðŸ”Ž Colonna: gender
Numero di classi: 2
Distribuzione (prime 10 classi):
gender
M    0.875096
F    0.124904
Name: proportion, dtype: float64
----------------------------------------